@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');
html{
    padding: 0%;
    margin: 0%;
    display: block;
}

body{
    height: 100%;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fhtmlcolorcodes.com%2Fes%2Ftutoriales%2Fcss-color-de-fondo%2F&psig=AOvVaw2Ll5fzi3GRl2e5SfJ8Uu0C&ust=1673656019745000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCOiJ-9Wkw_wCFQAAAAAdAAAAABAI);
    background-repeat: none;
    background-size: cover;
    font-family: 'Chivo Mono', monospace;
}