@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');
html{
    padding: 0%;
    margin: 0%;
    display: block;
    height: 100vh;
}

body{
    height: 100%;
    background: rgb(36,36,73);
    background: linear-gradient(90deg, rgba(36,36,73,1) 0%, rgba(28,181,0,1) 100%);
    font-family: 'Chivo Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: v.$blanco;
}

div{
    color: v.$blanco;
    font-size: 3rem;
}