@use '../base/variables' as v;

.content_all{
    .clock_date{
        .clock_wraper{
            .clock{
                background-color: v.$grisOscuro;
                border-radius: 5px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .date{
                background-color: v.$grisOscuro;
                border-radius: 5px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1rem;
            }
        }
    }
}